<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout" >

<head>
    <meta charset="UTF-8"/>
    <title> Votre Banque </title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/css.css" th:href="@{css/css.css}"/>

</head>
<body>
<div layout:fragment="content" class="container mt-3">
    <div class="row">
        <div class="col-lg-6 " >
            <div class="card border-primary ">
                <div class="card-header bg-primary">Consultation d un Compte</div>
                <div class="card-body">
                    <form th:action="@{/consulterCompte}" method="get">
                        <div >
                            <label>Code Compte</label>
                            <input type="text" th:value="${codeCompte}"  name="codeCompte"/>
                            <button type="submit" class="btn-primary btn">OK</button>
                        </div>
                    </form>
                    <div>
                        <label class="text-danger" th:if="${exception}" th:text="${exception.message}"></label>
                    </div>
                </div>
            </div>
            <div class="card border-primary mt-5" th:if="${compte}">
                <div class="card-header bg-primary">Informations sur le compte</div>
                <div class="card-body">
                    <div>
                        <label>Client : </label>
                       <label th:text="${compte.client.nom}"> </label>
                    </div>
                    <div>
                        <label>Code : </label>
                        <label th:text="${compte.codeCompte}"> </label>
                    </div>
                    <div>
                        <label>Solde : </label>
                        <label th:text="${compte.solde}"> </label>
                    </div>
                    <div>
                        <label>Date Création : </label>
                        <label th:text="${compte.dateCreation}"> </label>
                    </div>
                    <div>
                        <label>Type : </label>
                        <label th:text="${compte.class.getSimpleName()}"> </label>
                    </div>
                    <div th:if="${compte.class.getSimpleName()}==CompteCourant">
                        <label>Decouvert : </label>
                        <label th:text="${compte.decouvert}"> </label>
                    </div>
                    <div th:if="${compte.class.getSimpleName()}==CompteEpargne">
                        <label>Taux : </label>
                        <label th:text="${compte.taux}"> </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="card border-primary " th:if="${compte}">
                <div class="card-header bg-primary">Operation sur le compte</div>
                <div class="card-body">
                    <form th:action="@{/saveOperetion}" method="post">
                        <div>
                            <div>
                                <label>Compte:</label>
                                <input type="hidden" name="codeCompte" th:value="${compte.codeCompte}"/>
                                <label th:text="${compte.codeCompte}"></label>
                            </div>
                            <div>
                                <input type="radio" th:name="typeOperation" value="virment" onchange="myFunction()" required/>
                                <label>Virment</label>
                                <input type="radio" th:name="typeOperation" value="retrait" onchange="myFunction2()" required/>
                                <label>Retrait</label>
                                <input type="radio" th:name="typeOperation" value="versment" checked="checked"
                                       onchange="myFunction2()" required/>
                                <label>Vrsement</label>
                            </div>
                        </div>
                        <div>
                            <label>Monatant : </label>
                            <input type="text" name="montant" required/>
                        </div>
                        <div id="forVirement" style="display:none">
                            <label>Vers : </label>
                            <input type="text" name="codeCompte2" required/>
                        </div>
                        <button type="submit" class="btn-primary btn">Save</button>
                    </form>
                    <div>
                        <label class="text-danger" th:text="${#httpServletRequest.getParameter('error')}"></label>
                    </div>
                </div>
            </div>
        </div>
            <div class="card border-primary mt-5" th:if="${compte}">
                <div class="card-header bg-primary">Liste des Operations</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Num</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Monatant</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="o:${listOperations}">
                            <td th:text="${o.numOperation}">< /td>
                              <td th:text="${o.class.getSimpleName()}"></td>
                            <td th:text="${o.dateOperation}"></td>
                            <td th:text="${o.monatant}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                    <ul class="pagination">
                        <li th:class="${pageCurrent}==${status.index}?'active':''" th:each="pa,status:${pages}">
                            <a class="page-link" th:href="@{consulterCompte(size=${size},page=${status.index},codeCompte=${compte.codeCompte})}"
                               th:text="${status.index}"></a>
                        </li>
                    </ul>

                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>